<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Muserve File Upload</title>
<style>
#drop {
	border-style: solid;
	border-color: red;
	border-width: 5px;
}
</style>
	</head>
	<body>
		<div id="drop">
			<p>drop a file here</p>
		</div>
		<pre id="drop_output"></pre>
		<script>
			window.addEventListener("DOMContentLoaded", (e) => {
				window.addEventListener("dragover", (e) => {
					e.preventDefault();
				});

				window.addEventListener("drop", (e) => {
					e.preventDefault();
				});

				const drop = document.getElementById("drop");
				const out = document.getElementById("drop_output");

				drop.addEventListener("drop", (e) => {
					e.preventDefault();

					let files = [];
					[...e.dataTransfer.items].forEach((item, idx) => {
						if (item.kind == "file") {
							const file = item.getAsFile();
							if (file) {
								files.push(file);
							}
						}
					});

					if (files.length > 0) {
						sendFiles(files);
					}

					// out.textContent = result;
				});

				async function sendFiles(files) {
					const formData = new FormData();
					files.forEach((file, index) => {
						formData.append(`file-${index}`, file, file.name);
					});

					try {
						const resp = await fetch("/send", {
							method: "POST",
							body: formData,
						});

						if (resp.ok) {
							const res = await resp.text();
							out.textContent = `upload successful!\nserver response: ${res}`;
						} else {
							out.textContent = `upload failed: ${res.statusText}`;
						}
					} catch (error) {
						out.textContent = `an error occured: ${error.message}`;
					}
				}
			});
		</script>
	</body>
</html>
